.hidedSidebar {
	& > aside {
		flex-grow: 0;
		width: 3.8rem;

		> nav > div:first-child {
			opacity: 0;
		}
	}

	& > div {
		width: 100%;
	}
}

.showedSidebar {
	& > aside {
		width: var(--sidebar-width);
	}
}

.initialSidebar {
	& > aside {
		transition: width 0.35s;
	}
}
